<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="watchedServers" type="TradingWatchdog.Logic.Configuration.WatchedServersConfigSection, TradingWatchdog.Logic"></section>
  </configSections>
  <appSettings>
    <add key="TimescaleMs" value="1000"/>
    <add key="VolumeToBalanceRatio" value="5"/>

    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:File" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:write-to:File.path" value="log-.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
  </appSettings>
  <watchedServers>
    <serverConnections>
      <add name="TestServer" ip="103.40.209.22:443" login="1005" password="qg3ceury" />
    </serverConnections>
  </watchedServers>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
